<div className="resume-footer text-center">
    <ul className="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
        <li className="list-inline-item mb-lg-0 mr-3"><a className="resume-link" href="#"><i className="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span className="d-none d-lg-inline-block text-muted">github.com/username</span></a></li>
        <li className="list-inline-item mb-lg-0 mr-3"><a className="resume-link" href="#"><i className="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span className="d-none d-lg-inline-block text-muted">linkedin.com/in/username</span></a></li>
        <li className="list-inline-item mb-lg-0 mr-lg-3"><a className="resume-link" href="#"><i className="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span className="d-none d-lg-inline-block text-muted">@twittername</span></a></li>
    </ul>
</div>