<div className="resume-header">
    <div className="row align-items-center">
        <div className="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
            <h2 className="resume-name mb-0 text-uppercase" contentEditable={true} suppressContentEditableWarning={true}>Simon Doe</h2>
            <div className="resume-tagline mb-3 mb-md-0" contentEditable={true} suppressContentEditableWarning={true}>Senior Software Engineer</div>
        </div>
        <div className="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
            <ul className="list-unstyled mb-0">
                <li className="mb-2"><i className="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a className="resume-link" href="tel:#">0123 4567 890</a></li>
                <li className="mb-2"><i className="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a className="resume-link" href="mailto:#">simon.doe@yourwebsite.com</a></li>
                <li className="mb-2"><i className="fas fa-globe fa-fw fa-lg mr-2"></i><a className="resume-link" href="#">www.yourwebsite.com</a></li>
                <li className="mb-0"><i className="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>New York</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div className="resume-intro py-3">
    <div className="media flex-column flex-md-row align-items-center">
        <img className="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="/images/resume-profile.png" alt="image"/>
        <div className="media-body text-left">
            <p className="mb-0" contentEditable={true} suppressContentEditableWarning={true}>Summarise your career here. You can make a PDF version of your resume using our free Sketch template here. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.  Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. </p>
        </div>
    </div>
</div>