<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dev Resume</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="styles.css">
</head> 

<body>
	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="p-5">
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase" contenteditable="true">Simon Doe</h2>
							<div class="resume-tagline mb-3 mb-md-0" contenteditable="true">Senior Software Engineer</div>
						</div><!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><span contenteditable="true">0123 4567 890</span></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><span contenteditable="true">simon.doe@yourwebsite.com</span></li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><span contenteditable="true">www.yourwebsite.com</span></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i><span contenteditable="true">New York</span></li>
							</ul>
						</div><!--//resume-contact-->
					</div><!--//row-->
				</div><!--//resume-header-->
				<hr />
				<div class="resume-intro py-3">
					<div class="media flex-column flex-md-row align-items-center">
						<img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="/images/avatar.png" alt="image" />
						<div class="media-body text-left" contenteditable="true">
							<p class="mb-0">Summarise your career here. You can make a PDF version of your resume using our free Sketch template here. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.  Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. </p>
						</div><!--//media-body-->
					</div>
				</div><!--//resume-intro-->
				<hr />
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5 resume-column">
							<section class="work-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Work Experiences</h3>
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Senior Software Engineer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"><span contenteditable="true">Google</span> | <span contenteditable="true">2019</span> - <span contenteditable="true">Present</span></div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>
										<ul class="resume-list">
											<li>Lorem ipsum dolor sit amet, consectetuer.</li>
											<li>Aenean commodo ligula eget dolor.</li>
											<li>Etiam ultricies nisi vel augue.</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Lead Software Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"><span contenteditable="true">Apple</span> | <span contenteditable="true">2016</span> - <span contenteditable="true">2019</span></div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.</p>
										<ul class="resume-list">
											<li>Lorem ipsum dolor sit amet, consectetuer.</li>
											<li>Aenean commodo ligula eget dolor.</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Senior Software Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"><span contenteditable="true">Dropbox</span> | <span contenteditable="true">2014</span> - <span contenteditable="true">2016</span></div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Senior Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"><span contenteditable="true">Uber</span> | <span contenteditable="true">2013</span> - <span contenteditable="true">2014</span></div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Backend Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"><span contenteditable="true">Amazon</span> | <span contenteditable="true">2014</span> - <span contenteditable="true">2016</span></div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Frontend Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right"><span contenteditable="true">Startup</span> | <span contenteditable="true">2013</span> - <span contenteditable="true">2014</span></div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
									</div>
								</div><!--//item-->
							</section><!--//work-section-->
							<section class="project-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Projects</h3>
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Project Lorem Ipsum</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right" contenteditable="true">Open Source</div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>You can use this section for your side projects. You can provide a project link here as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Project Sed Fringilla</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right" contenteditable="true">Open Source</div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
									</div>
								</div><!--//item-->
								<div class="item mb-3 sub-section-dnd sub-section">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0" contenteditable="true">Project Praesent </h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right" contenteditable="true">Open Source</div>
									</div>
									<div class="item-content" contenteditable="true">
										<p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
									</div>
								</div><!--//item-->
							</section><!--//project-section-->	
						</div><!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4 resume-column">
							<section class="skills-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Skills</h3>
								<div class="item sub-section-dnd sub-section">
									<h4 class="item-title" contenteditable="true">Technical</h4>
									<ul class="list-unstyled resume-skills-list" contenteditable="true">
										<li class="mb-2">JavaScript/Angular/React/Vue</li>
										<li class="mb-2">Python/Ruby/PHP</li>
										<li class="mb-2">Node.js/ASP.NET</li>
										<li class="mb-2">PostgreSQL/MySQL</li>
										<li class="mb-2">Object-oriented design</li>
										<li class="mb-2">Design and implement database structures</li>
										<li>Lead and deliver complex software systems</li>
									</ul>
								</div><!--//item-->
								<div class="item sub-section-dnd sub-section">
									<h4 class="item-title" contenteditable="true">Professional</h4>
									<ul class="list-unstyled resume-skills-list" contenteditable="true">
										<li class="mb-2">Effective communication</li>
										<li class="mb-2">Team player</li>
										<li class="mb-2">Strong problem solver</li>
										<li>Good time management</li>
									</ul>
								</div><!--//item-->
							</section><!--//skills-section-->
							<section class="education-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Education</h3>
								<ul class="list-unstyled resume-education-list">
									<li class="mb-3 sub-section-dnd sub-section">
										<div class="resume-degree font-weight-bold" contenteditable="true">MSc in Computer Science</div>
										<div class="resume-degree-org text-muted" contenteditable="true">University College London</div>
										<div class="resume-degree-time text-muted"><span contenteditable="true">2010</span> - <span contenteditable="true">2011</span></div>
									</li>
									<li class="mb-3 sub-section-dnd sub-section">
										<div class="resume-degree font-weight-bold" contenteditable="true">BSc Maths and Physics</div>
										<div class="resume-degree-org text-muted" contenteditable="true">Imperial College London</div>
										<div class="resume-degree-time text-muted"><span contenteditable="true">2007</span> - <span contenteditable="true">2010</span></div>
									</li>
								</ul>
							</section><!--//education-section-->
							<section class="education-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Awards</h3>
								<ul class="list-unstyled resume-awards-list">
									<li class="mb-3 sub-section-dnd sub-section">
										<div class="font-weight-bold" contenteditable="true">Award Lorem Ipsum</div>
										<div class="text-muted"><span contenteditable="true">Microsoft lorem ipsum</span> - <span contenteditable="true">2019</span></div>
									</li>
									<li class="mb-3 sub-section-dnd sub-section">
										<div class="font-weight-bold" contenteditable="true">Award Donec Sodales</div>
										<div class="text-muted"><span contenteditable="true">Oracle Aenean</span> (<span contenteditable="true">2017</span>)</div>
									</li>
								</ul>
							</section><!--//education-section-->
							<section class="skills-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Languages</h3>
								<ul class="list-unstyled resume-lang-list">
									<li class="mb-2 sub-section-dnd sub-section"><span contenteditable="true">English</span> <span class="text-muted">(Native)</span></li>
									<li class="mb-2 sub-section-dnd sub-section"><span contenteditable="true">Spanish</span> <span class="text-muted">(Professional)</span></li>
								</ul>
							</section><!--//certificates-section-->
							<section class="skills-section py-3 section section-dnd">
								<h3 class="text-uppercase resume-section-heading mb-4" contenteditable="true">Interests</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									<li class="mb-2 sub-section-dnd sub-section" contenteditable="true">Climbing</li>
									<li class="mb-2 sub-section-dnd sub-section" contenteditable="true">Snowboarding</li>
									<li class="mb-2 sub-section-dnd sub-section" contenteditable="true">Photography</li>
									<li class="mb-2 sub-section-dnd sub-section" contenteditable="true">Travelling</li>
								</ul>
							</section><!--//certificates-section-->
						</aside><!--//resume-aside-->
					</div><!--//row-->
				</div><!--//resume-body-->
				<hr />
				<div class="resume-footer text-center">
					<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
						<li class="list-inline-item mb-lg-0 mr-3"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/username</span></li>
						<li class="list-inline-item mb-lg-0 mr-3"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/username</span></li>
						<li class="list-inline-item mb-lg-0 mr-lg-3"><i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@twittername</span></li>
					</ul>
				</div><!--//resume-footer-->
			</article>
		</div><!--//container-->
		<footer class="footer text-center py-4">
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright text-muted">Designed with <i class="fas fa-heart"></i> by Xiaoying Riley for developers</small>
		</footer>
	</div><!--//main-wrapper-->
</body>
</html> 

